@model IEnumerable<Finances.Application.Category.CategoryDto>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-secondary">Create category</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 15rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">@item.Name</li>
            </ul>
            <div class="card-body text-center">
                <a class="btn btn-outline-primary" asp-controller="Category" asp-action="Delete" asp-route-id="@item.EncodedName">Delete</a>
            </div>
        </div>
    }
</div>