@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome!</h1>
    <hr />
    <h5 class="display-6">Finances Management</h5>
    <p>Control your expenses!</p>
</div>
